.skills{
    width: 100%;
    display: flex;
    justify-content: center;
}


.contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    height: 200px;
    
}

.skill__title{
    
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.figure{
    position: relative;
    width: 150px;
    height: 150px;
    
}

.icon__skill{
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: all 500ms ;
}

.icon__skill:hover{
    width: 70px;
    height: 70px;
    opacity: 70%;
}

.content__icon{
    width: 130px;
    height: 130px;
    margin-top: 5px;
    
}





